{% for type, messages in app.flashes %}
	<div class="alert alert-{{ type }} d-flex justify-content-center align-items-center">
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	</div>
{% endfor %}
