<li class="nav-item">
	<a href="{{ path(path) }}" class="nav-link {{ app.request.get('_route') == path ? 'active' : '' }}" {{ app.request.get('_route') == path ? 'aria-current="' ~ label ~ '"' : '' }}>
		{{ label }}
	</a>
</li>
