{% extends 'base.html.twig' %}

{% block body %}
	<form class="row g-3">
		<div class="col-sm-11">
			<input type="text" placeholder="Fulltext search, try the following words : dodge, harley, ..." value="{{ app.request.query.get('search') }}" name="search" class="form-control" id="search" aria-describedby="search">
		</div>
		<div class="col-sm">
			<button type="submit" class="btn btn-primary mb-2">Search</button>
		</div>
	</form>

	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		{% if products | length == 0 %}
			<div class="col">No products found.</div>
		{% else %}
			{% for key, p in products %}
				{% include "product/_card.html.twig" with {
				p: p,
				key: key
				} %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
